.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 6px 10px;
  }
.require > input, .require > label, .require > select {
  border-color:red
}

  .tr {
    text-align: right;
  }


  #video-container video {
    line-height: 0;
    max-width: 100% !important;
}


.cont {
    width: 100vw;
    position: fixed;
    top: 10;
    left: 0px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}

.hideee {
 
  left:-3000px;
}